@page "/"

@using BlazorApp.Components

<div class="container px-0 m-0" >
	<div class="row p-0" style="height:92vh; width: 96vw">
		<div class="col-4"> <!-- style="background-color:hotpink"> -->

			<!--MIRROR ALGORITHM BLOCK-->
			<div class="alert alert-secondary" role="alert">
				<!--BLOCK TITLE-->
				<h5 class="mb-4">
					Mirror Algorithm
					<InfoTooltip Message="Mirror the left and right side of the image until it reaches the Ultrawide aspect ratio." />
				</h5>
				
				<!--BUTTONS-->
				<div class="row">
					<div class="col-6 pe-2">
						<div class="d-grid">
							<button type="button" class="btn btn-primary">
								Simple
								<InfoTooltip Message="Use this when you have an image with solid background color or repeating pattern." />
							</button>
						</div>
					</div>
					<div class="col-6 ps-2">
						<div class="d-grid">
							<button type="button" class="btn btn-secondary">
								Blurred
								<InfoTooltip Message="Use this when the Simple algorithm yields too many repeating pattern." />
							</button>
						</div>
					</div>
				</div>

				<!--BLUR OPTIONS-->
				@if (true)
				{
					<div class="mt-4 mb-2">
						<div class="row">
							<div class="col">
								<label for="blurStrenght" class="form-label m-0">
									Blur Strenght
									<InfoTooltip Message="Change the Gaussian Blur strenght." />
								</label>
							</div>
							<div class="col">
								<div class="text-end">
									50%
								</div>
							</div>
						</div>
						<input id="blurStrenght" disabled="@true" type="range" class="form-range" />
					</div>

					<div class="form-check form-switch">
						<input checked="@true" disabled="@true" class="form-check-input" type="checkbox" role="switch" id="flexSwitch">
						<label class="form-check-label" for="flexSwitch">
							Apply blur transition?
							<InfoTooltip Message="Create a gradient transition from the blurred expanded area to the center of the image." />
						</label>
					</div>
				}
			</div>

			<!--UPSCALING BLOCK-->
			<div class="alert alert-dark" role="alert">
				<!--BLOCK TITLE-->
				<h5 class="mb-4">
					Upscaling
					<InfoTooltip Message="Decide whether to upscale the image or not." />
				</h5>

				<!--BUTTONS-->
				<div class="btn-group d-flex" role="group" aria-label="Basic example">
					<button type="button" class="btn btn-primary flex-fill">Original</button>
					<button type="button" class="btn btn-secondary flex-fill">2x</button>
					<button type="button" class="btn btn-secondary flex-fill">4x</button>
				</div>
			</div>

			<!--OUTPUT FORMAT BLOCK-->
			<div class="alert alert-dark" role="alert">
				<!--BLOCK TITLE-->
				<h5 class="mb-4">
					Ouput format
					<InfoTooltip Message="Decide whether to save the output image with the same format or choose your own." />
				</h5>

				<!--BUTTONS-->
				<div class="btn-group d-flex" role="group" aria-label="Basic example">
					<button type="button" class="btn btn-primary flex-fill">Original</button>
					<button type="button" class="btn btn-secondary flex-fill">JPEG</button>
					<button type="button" class="btn btn-secondary flex-fill">PNG</button>
				</div>
			</div>

			<div class="d-grid">
				<button type="button" class="btn btn-primary">Convert to Ultrawide!</button>
			</div>
		</div>

		<div class="col" style="background-color:greenyellow">GREEN</div>
	</div>
</div>

