@page "/"

<div class="container px-0 m-0" >
	<div class="row p-0" style="height:92vh; width: 96vw">
		<div class="col-4" style="background-color:hotpink">
			PINK
		</div>
		<div class="col" style="background-color:greenyellow">GREEN</div>
	</div>
</div>

